<h1 [style.background-color]="'green'" [style.color]="'white'">This is Home Page</h1>

    
        <input [ngModel]="Fname" type="text">
       
      
       


<table  border="2" cellspacing="0" cellpadding="3"> 
    <caption><h3> Employee Details...</h3></caption>  
    <tr>   
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Salary</th>
     
    </tr>
    <tr> 
        <td>{{Fname}} </td> 
        <td>{{Lname}}</td> 
        <td>{{Age}}</td>         
        <td>{{Salary}}</td>
    <tr>  
</table>
