
<table class="table table-striped 
            table-responsive table-hover">
    <thead>
        <th class="text-hide">Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Action</th>
    </thead>
    <tbody>
        <tr *ngFor="let user of user">
            <td class="text-hide">{{ user.id }}</td>
            <td>{{ user.firstName  }}</td>
            <td>{{ user.lastName  }}</td>
            <td>{{ user.email | titlecase }}</td>
            <td>

               
                <button (click)="deleteUser(object)"class="btn btn-danger">Delete</button>
                <button class="btn btn-danger">Edit</button>
                
               
            </td>
        </tr>
        
        <tr *ngIf="!user || user.length==0">
            <th colspan="5">
                <p class="text-right text-danger">
                    Sorry, No users available ..!
                </p>
            </th>
        </tr>
    </tbody>
</table>
<button (click)="addUser()" class="btn btn-success">Add User</button>
<button class="btn btn-success">Logoff</button>