<!--<h1 style="background-color: blue" align="center">WELCOME</h1>

<app-home></app-home>
<app-contact-us></app-contact-us>
<app-employee></app-employee>-->

<h1  style = "background-color : skyblue" >Angular Project</h1>
<nav class="navbar navbar-default">
    <div class="container">
        <ul class="nav navbar-nav">
            <li> <a routerLink="/">Home</a></li>
            <li><a routerLink="/aboutus">About Us</a></li>
            <li><a routerLink="/contact">Contact Us</a></li>
            <li><a routerLink="/emp">Employee</a></li>
            <li><a routerLink="/employeeList">Employee List</a></li>
            <li><a routerLink="/reactiveform">Reactive Form</a></li>
            <li><a routerLink="/user">User</a></li>      
            <li><a routerLink="/adduser">Add User</a></li>     
            <li><a routerLink="/ngclassdemo"></a></li> 
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>